@font-face {
    font-family: 'Caudex-Regular';
    src: url('./assets/fonts/Caudex_Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caudex-Bold';
    src: url('./assets/fonts/Caudex_Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glot-Regular';
    src: url('./assets/fonts/Glot_Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}