

.minHeight{
    min-height: 700px !important;
}

.parentContainer {

    .childContainer {

        .landingSection {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 700px;
            height: 100vh;

            position: relative;

            video {

                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .tagLine {
                display: inherit;
                justify-content: space-between;
                align-items: center;
                margin: 0 5vw;

                position: absolute;
                bottom: 8vh;

                p {
                    width: 30%;
                    font-size: 23px;
                    font-family: 'Caudex-Regular';
                    color: #A86A3F;
                }

                svg {
                    height: auto;
                    width: 150px;
                }
            }
        }

        .sectionTwo {
            min-height: max-content;
            height: 100vh;
            background-color: rgb(0, 3, 20);
            padding: 0 5vw;

            .rowOne {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 100px 0;

                .columnOne {
                    display: inherit;
                    align-items: center;
                    gap: 64px;

                    img {
                        width: 300px;
                        // height: 157px;
                    }

                    div {
                        h1 {
                            font-family: "Caudex-Regular";
                            font-size: 80px;
                            font-weight: 500;
                            line-height: 1.1;
                            margin-bottom: 24px;
                            color: #fff;
                        }

                        h6 {
                            font-family: "Glot-Regular";
                            font-size: 17px;
                            letter-spacing: 0.4em;
                            color: #A86A3F;
                        }

                    }
                }

                .columnTwo {
                    button {
                        color: #fff;
                        background: transparent;
                        border: 2px solid #A86A3F;
                        width: 200px;
                        height: 50px;
                    }
                }
            }

            .rowTwo{
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                gap: 20px;
                color: #fff;
                margin-bottom: 20px;

                .itemBox{
                    padding-top: 38px;

                    h2{
                        margin-bottom: 34px;
                        font-family: "Caudex-Regular";
                    }

                    p{
                        width: 50%;
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}